HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# --- Maven Build Artifacts ---
target/
**/dependency-reduced-pom.xml

# --- Anypoint Studio (Eclipse) Files ---
.classpath
.project
.settings/
/workspace/

# --- IntelliJ IDEA / Anypoint Code Builder (VS Code) ---
.idea/
*.iml
*.ipr
*.iws
.vscode/

# --- Mule Runtime & Test Remnants ---
.mule/
bin/
temp/
repository/
muleEmbeddedDB/
activemq-data/
testdir/
objectstore/
*.log
hostkey.ser
*.h2.db

# --- OS Specific Files ---
.DS_Store
Thumbs.db

